.App {
  height: 100vh;
  width: 100vw;
}

.page-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card-item {
  opacity: 1;
  max-height: 300px;
  margin-bottom:10px;
  transition: opacity 0.3s, max-height 0.7s, margin 0.7s;
}

.remove {
  opacity: 0;
  max-height: 0px;
  margin: 0px;
}